table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input{
  padding: 5px
}
button{
  padding:5px
}

.search{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  padding : 10px
}

.filter{
  display: flex;
  align-items: center;
}

select{
  margin: 0 5px
}

.view{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

Link, button{
  text-decoration: none;
}
